# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

venv/*
z_extra/ignore/*
z_extra/tests/*
z_extra/todo/*
.vscode/*

resources/app_data/inception/*
resources/static/uploads/uploads/*
resources/static/sounds/d*
