# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

tests/*
# env/lib/python3.5/site-packages/tensorflow/
# __pywrap__tensorflow.so
env/*
resources/app_data/inception/*
resources/static/uploads/history/*
resources/static/sounds/d*

.vscode/*
