.btn-primary{
	margin-right: 15px;
}

.dropdown-item a{
	display: block;
}

.form-control-label{
	line-height: 34px;
}

.panel-heading{
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.panel-title{
	color: #5e5e5e;
}

.btn-group{
	width: 100%;
	margin-top: 10px;
}
