PYTHON3 & opencv general
https://www.digitalocean.com/community/tutorials/how-to-install-python-3-and-set-up-a-local-programming-environment-on-ubuntu-16-04

--> SOURCE BIN ACTIVATED
http://cyaninfinite.com/tutorials/installing-opencv-in-ubuntu-for-python-3/
http://www.pyimagesearch.com/2015/07/20/install-opencv-3-0-and-python-3-4-on-ubuntu/

tensorflow
https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html
https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html#optional-install-cuda-gpus-on-linux
https://alliseesolutions.wordpress.com/2016/09/08/install-gpu-tensorflow-from-sources-w-ubuntu-16-04-and-cuda-8-0-rc/
https://devtalk.nvidia.com/default/topic/938988/-solved-cuda-8-0-on-ubuntu-16-04-gpu-not-available/

export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64:/usr/local/cuda/extras/CUPTI/lib64"
export CUDA_HOME=/usr/local/cuda

bashrc, 

matplotlib for dreamdeep
https://www.google.be/search?client=ubuntu&channel=fs&q=matplotlib+figures+not+showing+up+or+displaying&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=2wgwWID0OLDc8Afk5JugDA

sublime text 3
https://realpython.com/blog/python/setting-up-sublime-text-3-for-full-stack-python-development/
http://cheng.logdown.com/posts/2015/06/14/sublime3-install-python-linters


https://pypi.python.org/pypi/piexif

http://pycoder.net/bospy/presentation.html#bonus-material
http://codehandbook.org/python-flask-jquery-ajax-post/

# http://stackoverflow.com/questions/30901998/threading-true-with-flask-socketio

