<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Dreamdeep History</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-old.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Dreamdeep History</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">dreamdeep</a></li>
				<li><a href="/favorites">favorites</a></li>
				<li class="active"><a href="/history">history</a></li>
			</ul>
		</div>
	</nav>

	<div class="container" style="margin-top: 50px">
		{% for request in history: %}
			<div class="col-md-6 col-xs-12">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='uploads/history/') }}{{ request['id'] }}" alt="">
					<div class="caption text-center">
						<b>{{ request['layer'] }}</b>
					</div>
					<div class="text-center">
						<a href="/history/del/{{ request['id'] }}"><button class="btn btn-alt">delete</button></a>
						<a href="/history/save/{{ request['id'] }}"><button class="btn btn-alt">member</button></a>
						<a href="/history/fav/{{ request['id'] }}"><button {% if request["is_favorite"] == True %} class="btn btn-alt-primary" {% else %} class="btn btn-alt" {% endif %}>favor</button></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
