<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Dreamdeep Dashboard</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-old.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Dreamdeep Dashboard</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/">dreamdeep</a></li>
				<li><a href="/favorites">favorites</a></li>
				<li><a href="/history">history</a></li>
			</ul>
		</div>
	</nav>

	<div class="col-md-2 col-sm-1"></div>
	<div class="container col-md-8 col-sm-10">
		<!-- control dream element -->
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Control your Dream</h3>
				</div>
				<div class="panel-body">
					<!-- image stream  -->
					<div class="col-md-12 center-block">
						<div class="wrapper">
							<span class="overlay"></span>
							<img id="stream" class="center-block" src="{{ url_for('mod_home.get_video_feed') }}" />
						</div>
					</div>

					<!-- controls -->
					<div class="col-sm-12 margin-top">
						<div class="col-xs-4">
							<button type="submit" class="btn btn-alt center-block f-width" id="start_dream">Dream</button>
						</div>
						<div class="col-xs-4">
							<button type="submit" class="btn btn-alt center-block f-width" id="reset_dream">Reset</button>
						</div>
						<div class="col-xs-4">
							<form id="upload-form" action="{{ url_for('mod_home.upload')}}" method="POST" enctype="multipart/form-data" class="center-block">
								<label for="files" class="btn btn-alt center-block f-width">Upload</label>
								<input type="file" id="files" style="display: none" name="file" accept="image/*" onchange="this.form.submit()">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- set dream element -->
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Set your Dream</h3>
				</div>
				<div class="panel-body panel-body-2">
					<!-- basic settings-->
					<div class="row" id="basic-row">
						<div class="col-md-12 panel-heading panel-heading-2"><h3 class="panel-title">Basic Settings</h3></div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="iteration" class="col-sm-3 control-label">Iterations</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="iteration" placeholder="10-200 iterations">
									</div>
								</div>
								<div class="form-group">
									<label for="layer" class="col-sm-3 control-label">Layer</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="layer" placeholder="Your selected layer will come here">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<div>
								<button type="button" class="btn" id="default">Default</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn">Featured Layers</button>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu dropdown-layers" id="dropdown-fet_layers">
								</div>
							</div>
							<div class="btn-group">
								<button type="button" class="btn">All Layers</button>
								<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu dropdown-layers" id="dropdown-all_layers">
								</div>
							</div>
						</div>
					</div>

					<!-- advanced settings -->
					<div class="row">
						<div class="col-md-12 panel-heading panel-heading-2"><h3 class="panel-title">Advanced Settings</h3></div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="octave_n" class="col-sm-3 control-label"># of octaves</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="octave_n" placeholder="4">
									</div>
								</div>
								<div class="form-group">
									<label for="octave_scale" class="col-sm-3 control-label">octave scale</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="octave_scale" placeholder="Your selected layer will come here">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="step" class="col-sm-3 control-label">step</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="step" placeholder="5-30 iterations">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-1"></div>

	<audio id="sweet_dreams">
		<source src="{{ url_for('static', filename='sounds/sweet_dreams.mp3') }}" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
